<div class="modal-header">
	<h4 class="modal-title">Creación de usuario</h4>
</div>
<div class="modal-body">
	<div class="card lesson-border">
    <form [formGroup]="formulario">
		<div class="container">
      <label for="inputPassword5" class="form-label">Tema</label>
      <input
      formControlName="tema"
        id="curso"
        class="form-control"
        aria-describedby="passwordHelpBlock"
      />
      <label for="inputPassword5" class="form-label">Porcentaje</label>
      <input
      formControlName="porcentaje"
        id="curso"
        class="form-control"
        aria-describedby="passwordHelpBlock"
      />
      <label for="inputPassword5" class="form-label">Fecha</label>
      <input
      formControlName="fecha"
      (click)="d.toggle()"
      class="form-control"
      placeholder="yyyy-mm-dd"
      name="dp"
      ngbDatepicker
      #d="ngbDatepicker"
    />
    </div>
	</form>
</div>
	</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(formulario.value)" [disabled]="formulario.invalid">Agregar</button>
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close(null)">Cerrar</button>
</div>
