<section class="vh-100" style="background-color: whitesmoke">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Iniciar Sesión</h3>
            <form [formGroup]="formulario">
            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">Cedula</label>
              <input
              formControlName="cedula"
                id="typeEmailX-2"
                class="form-control form-control-lg"
              />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">Contraseña</label>
              <input
                formControlName="contraseña"
                type="password"
                id="typePasswordX-2"
                class="form-control form-control-lg"
              />
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="login()" [disabled]="this.formulario.invalid">
              Iniciar
            </button>
            <button class="btn btn-primary btn-lg btn-block" (click)="restablecer()">
              Restablecer
            </button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
