<!-- <div class="container-fluid">
  <div class="row flex-nowrap"> -->
      <!-- <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"> -->
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <br> <!-- <Aqui voy a colocar un logo "> -->
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-6 d-none d-sm-inline">Sistema de gestion</span>
            </a>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                    <a href="evaluaciones-profesor" class="nav-link align-middle px-0">
                        <i class="fs-4 bi-house"></i>   <button class="btn btn-primary" type="button">Evaluaciones</button>
                    </a>
               <a href="estudiantes-profesor" class="nav-link align-middle px-0">
                      <i class="fs-4 bi-house"></i>   <button class="btn btn-primary" type="button">Estudiantes</button>
                  </a> 
                </li>
            </ul>
            <hr>
            <div class="dropdown pb-4">
                <a href="/salir" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg  class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M9 12h12l-3 -3" /><path d="M18 15l3 -3" /></svg>
                    <span class="d-none d-sm-inline mx-1">Cerrar Sesión</span>
                </a>
            </div>
        </div>
    <!-- </div> -->
    <!-- <div class="col py-3">

    </div> -->
<!-- </div>
</div> -->
