
<div class="modal-header">
	<h4 class="modal-title">Notas</h4>
</div>
<div class="modal-body">
	<div class="card lesson-border">
    <form [formGroup]="formulario">
		<div class="container">
      <label for="inputPassword5" class="form-label">Cargar notas</label>
      <input
      formControlName="nota"
        id="curso"
        class="form-control"
      />
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="activeModal.close(formulario.value)"
          [disabled]="formulario.invalid"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="activeModal.close(null)"
        >
          Cerrar
        </button>
      </div>
    </div>