
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">

      <app-menu-vertical-profesor></app-menu-vertical-profesor>
    </div>
    <div class="col py-3">
      <h3>Estudiantes</h3>
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">N</th>
            <th scope="col">Cedula</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Evaluaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of relleno">
            <th> {{item.indice}}</th>
            <td>{{item.cedula}}</td>
            <td>{{item.nombreYapellido}}</td>
            <td>
              <button class="btn btn-link btn-sm px-3" style="background-color:transparent;">
                Editar
             </button>
            </td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
</div>
