<div class="modal-header">
  <h4 class="modal-title">Estudiantes</h4>
</div>
<div class="modal-body">
  <div class="card lesson-border">
    <form [formGroup]="formulario">
      <div class="container">
        <label for="inputPassword5" class="form-label">Estudiante</label>
        <select
          formControlName="estudiante"
          class="form-select"
          aria-label="Default select example"
        >
          <option *ngFor="let item of tercero; let i = index" [value]="i">
            {{ item.cedula }}, {{ item.nombreYapellido }}
          </option>
        </select>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="activeModal.close(formulario.value)"
            [disabled]="formulario.invalid"
          >
            Agregar
          </button>
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="activeModal.close(null)"
          >
            Cerrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
