<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <app-menu-vertical></app-menu-vertical>
    </div>

    <div class="col py-3">
      <h1>Creación de cursos</h1>
      <form [formGroup]="formulario">
        <br />
        <div class="container">
          <label for="inputPassword5" class="form-label"
            >Nombre del curso</label
          >
          <input
            formControlName="nombreCurso"
            id="curso"
            class="form-control"
            aria-describedby="passwordHelpBlock"
          />

          <br />
          <div class="row">
            <div class="col">
              <label for="inputPassword5" class="form-label"
                >Unidades de crédito</label
              >
              <input
                formControlName="unidadesCredito"
                type="number"
                id="credito"
                class="form-control"
                aria-describedby="passwordHelpBlock"
              />
            </div>
            <div class="col">
              <label for="inputPassword5" class="form-label"
                >Cantidad de horas</label
              >
              <input
                formControlName="cantidadHoras"
                type="number"
                id="inputPassword5"
                class="form-control"
                aria-describedby="passwordHelpBlock"
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <label class="form-label">Fecha inicio</label>
              <div class="input-group">
                <input
                  formControlName="fechaInicio"
                  (click)="d.toggle()"
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
              </div>
            </div>

            <div class="col">
              <label class="form-label">Fecha fin</label>
              <div class="input-group">
                <input
                  formControlName="fechaFin"
                  (click)="p.toggle()"
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  ngbDatepicker
                  #p="ngbDatepicker"
                />
              </div>
            </div>
          </div>
        </div>

        <br />
        <div class="container">
          <h2>Estudiantes asignados</h2>
          <div class="align-items-end">
            <button type="button" class="btn btn-primary" (click)="open()">
              Agregar estudiantes
            </button>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nombre y Apellido</th>
                <th>Numero de cédula</th>
                <th>Contraseña</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of estudianteList">
                <td>{{ item.nombreYapellido }}</td>
                <td>{{ item.cedula }}</td>
                <td>{{ item.contrasena }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />

        <div class="container">
          <h2>Profesores asignados</h2>
          <div class="align-items-end">
            <button
              type="button"
              class="btn btn-primary"
              (click)="openProfesores()"
            >
              Agregar Profesores
            </button>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nombre y Apellido</th>
                <th>Numero de cédula</th>
                <th>Contraseña</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of profesorList">
                <td>{{ item.nombreYapellido }}</td>
                <td>{{ item.cedula }}</td>
                <td>{{ item.contrasena }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <div style="text-align: center;">
        <button
        [disabled]="formulario.invalid && profesorList.length==0 && estudianteList.length==00"
        type="button"
        class="btn btn-primary"
        (click)="guardar()"
      >
        Guardar
      </button>
      </div>
      </form>
    </div>
  </div>
</div>


